body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s linear;
}
.rgb {
  height: 100px;
  width: 300px;
  background: rgb(39, 38, 38);
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
